<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="euc-kr">

<head th:replace="fragments/config :: headFragment"></head>

<body>
<header th:replace="fragments/header :: headerFragment"></header>

<section class="blog_area section_padding">
    <div class="container">
        <h1 class="blog_area section_padding container">
            두더지캠핑 > 공지사항
        </h1>
        <h2>
            공지사항이 없습니다.
        </h2>
    </div>
</section>

<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>