@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

*{margin:0px;padding:0px;}
/*body{
    background-color:#eee;
}*/
.searchbox-container {
    width:auto;
    margin:auto;
    position: relative;
}

.navigation {
    background-color:#fff;
    width:100%;
    height:50px;
    box-shadow: 0px 1px 1px #c8c8c8;
    line-height:52px;
    color:#62bb49;
}
.title {
    font-size:32px;
    cursor: pointer;
}
.search-control{
    position: absolute;
    right:0;
    cursor: pointer;
    color: #bbb;
}
.search-control:hover {color:#686868;}
.fa-home {
    font-size:22px;
}
.search-box {
    width:90%;
    position: relative;
    transition:opacity 0.4s linear ,visibility 0.4s linear 0s;
}
.search-box .input_search{
    width:80%;
    height:48px;
    border-radius:12px 0px 0px 12px;
    box-shadow:none;
    box-shadow: 1px 2px 2px #ddd;
}
.search-box > #search {
    width:auto;
    height:48px;
    border-radius:12px 0px 0px 12px;
    box-shadow:none;
    box-shadow: 1px 2px 2px #ddd;
}
input , input:focus {
    border:none;
    box-shadow:none;
    background-color:none;
    outline: 0;
    font-size:16px;
    font-family:'Open Sans';
    color: #000000;
    padding:0px 12px;
}
.also {
    font-family:'fontawesome';
    color:#bbb;
    display:inline-block;
    background-color:#fff;
    height:48px;
    width:48px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    border-left:1px solid #ddd;
    position: absolute;
    top:0;
    box-shadow: 1px 2px 2px #ddd;
    border-radius:0px 12px 12px 0px;
}
.search-link:hover {color:#686868;}
