<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="euc-kr">

<header class="main_menu" th:fragment="headerFragment">
    <div class="main_menu_iner menu_fixed animated fadeInDown">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
                        <a class="navbar-brand" href="/"> <img src="/images/ddgcamp_L.png" width="150" height="150"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="true" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse main-menu-item justify-content-center"
                             id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/about">About</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/blog" id="navbarDropdown"
                                       role="button" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        캠핑장
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/campsite">유료캠핑장</a>
                                        <a class="dropdown-item" href="/campingspot">캠핑스팟</a>
                                        <a class="dropdown-item" href="/campingmap">캠핑여지도</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_1"
                                       role="button" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        커뮤니티
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="/campingmarket">캠핑장터</a>
                                        <a class="dropdown-item" href="/community/post">게시판</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/notice">공지사항</a>
                                </li>
                                <!--<li class="nav-item">
                                    <a class="nav-link" href="/mycamping">마이캠핑</a>
                                </li>-->
                            </ul>
                        </div>
                        <div sec:authorize="!isAuthenticated()">
                            <a th:href="@{/auth/loginForm}" class="btn_1 d-none d-lg-block">로그인/회원가입</a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <a th:href="@{/logout}" class="btn_1 d-none d-lg-block">로그아웃</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>