<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="euc-kr">

<head th:replace="fragments/config :: headFragment"></head>
<link rel="stylesheet" th:href="@{/css/common/guide.v2.min.css}">
<!-- include summernote css/js -->
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
<link th:href="@{https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css}" rel="stylesheet">
<script th:src="@{https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js}"></script>

<body>
<header th:replace="fragments/header :: headerFragment"></header>

<section class="blog_area section_padding">
    <div class="container">
        <div class="writingContent">
            <div style="padding-top: 10px; padding-bottom: 40px">
                <h2>캠핑스팟 등록</h2>
            </div>
            <form class="spot_save" method="post">
                <div>
                    <div style="padding-top: 10px; padding-bottom: 10px">
                        <h4>제목</h4>
                        <input type="text" class="form-control d_form std" placeholder="제목" name="title">
                    </div>
                    <div style="padding-top: 10px; padding-bottom: 10px">
                        <h4 style="padding-top: 10px; padding-bottom: 10px">장소 등록!</h4>
                        <div class="container row">
                            <input type="text" name="postcode" class="form-control d_form mini" placeholder="우편번호">
                            <input class="d_btn" type="button" onclick="execDaumPostcode()" value="우편번호 찾기">
                        </div>
                        <input type="text" name="address" class="form-control d_form std" placeholder="주소">
                        <input type="text" name="detail_address" class="form-control d_form std" placeholder="상세주소">
                <!--DB에 참고항목까지 넣을 필요가 있는지 확인 필요-->
                        <input type="text" name="extra_address" class="form-control d_form std" placeholder="참고항목">
                        <div class="container row">
                            <input type="hidden" name="latitude_y" class="form-control d_form std" placeholder="Y">
                            <input type="hidden" name="longtitude_x" class="form-control d_form std" placeholder="X">
                            <input type="hidden" name="region_1depth_name" class="form-control d_form std" placeholder="region_1depth_name">
                            <input type="hidden" name="region_2depth_name" class="form-control d_form std" placeholder="region_2depth_name">
                        </div>
                    </div>
                    <div style="padding-top: 10px; padding-bottom: 10px">
                        <h4 style="padding-top: 10px; padding-bottom: 10px">다녀온 캠핑 스팟을 공유해주세요!!</h4>
                        <textarea class="form-control summernote" rows="20" name="description"></textarea>
                    </div>
                    <div>
                        <button type="submit" class="button btn_1">등록</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $('.summernote').summernote({
            tabsize: 2,
            height: 500,
            callbacks: {
                onImageUpload: function (files) {
                    uploadSummernoteImageFile(files[0], this);
                },
                onPaste: function (e) {
                    var clipboardData = e.originalEvent.clipboardData;
                    if (clipboardData && clipboardData.items && clipboardData.items.length) {
                        var item = clipboardData.items[0];
                        if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
                            e.preventDefault();
                        }
                    }
                }
            }
        });
    </script>
    <br/>
</section>

<footer th:replace="fragments/footer :: footerFragment"></footer>
<script th:src="@{/js/common/kakaoAddressSearch.js}" type="text/javascript"></script>
<script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
<script th:src="@{/js/campingspot/campingspot.js}" type="text/javascript"></script>
</body>
</html>